# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
# env file
.env

# development docker compose
docker-compose.yml

# data base
*.db

# vscode
.vscode

# ignore svg since it is being rendered by actions
doc/*.svg

# Mac stuff
.DS_Store

static/

# Frontend

/target
Cargo.lock
dist

# Mac OS
.DS_Store

# Node.js
node_modules

# Tailwind CSS
assets/tailwind.css